body{ padding:60px ;
    margin:20px ;

font-size: 30px ;
background-image: url(photo/pexels-rafael-guajardo-604684.jpg);}
h1{ color: aqua;
text-align: center;}
p{color: aliceblue;
font-style: 30px;
font-style: italic;
word-spacing: 10px;} 

